# 忽略输入和输出文件夹
file/
input/
output/
.zip

# Python相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE相关
.idea/
.vscode/
*.swp
*.swo

# 系统相关
.DS_Store
Thumbs.db 